{% extends 'bootstrap/base.html' %}

{% block body %}
<div class="form">
    <form action="/" method="POST">
        <label for="food_name">食品名</label><input type="text" name="food_name">
        <label for="cost">値段</label><input type="text" name="cost">
        <!-- <label for="weight">重さ</label><input type="text" name="weight">
        <label for="count">個数</label><input type="text" name="count">  -->
        <label for="due">期限</label><input type="date" name="due" required>
        <!-- <label for="category">カテゴリー</label><input type="text" name="category">
        <label for="save_type">保存方法</label><input type="text" name="save_type"> -->
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}