{% extends 'base.html' %}

{% block body %}
<h2 class="m-5" style="text-align: center;">詳細</h2>
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">{{ post.food_name }}</h2>
        <p>価格：{{ post.cost }}円</p>
        <p>量：{{ post.weight }}g</p>
        <p>個数：{{ post.count }}</p>
        <p>カテゴリ：{{ post.category }}</p>
        <p>保存方法：{{ post.save_type }}</p>
        <p>賞味期限：{{ post.due.date() }}</p>
        <div class="pt-2">
            <a class="btn btn-outline-success" href="/" role="button">Return</a>
            <a class="btn btn-success" href="/update/{{ post.id }}" role="button">Update</a>
        </div>
    </div>
</div>

{% endblock %}